@use "globals";
// Untuk Title
$font-raleway: "Raleway", sans-serif;
$font-great: "Great Vibes", cursive;
$font-poppins: "Poppins", sans-serif;
$font-halant: "Halant", serif;
// color

$color-desc: #738ea5;
$color-desc-2: #848892;
$biru-1: #d4e6f5;
$biru-2: #86a0b6;
$biru-3: #cde0ef;
$color-blue: #002642;
$reguler: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$black: 900;
.section-hero-image-banner {
	.blocks-items {
		.pict {
			.background-banner-contact {
				height: 550px;
				background-position: center;
				background-size: cover;
				// opacity: 0.8;
				.text-title h5 {
					font-family: $font-halant;
					font-weight: $medium;
					letter-spacing: 2px;
					font-size: 50px;
					padding-top: 250px;
				}
			}
		}
	}
}


// Contact Sect 2
.contact-sect-2 {
    background-color: #fff;
    .block-items {
        padding: 100px 0 120px 0;
        .row {
            .item-body {
                text-align: center;
                background-color: #fff;
                box-shadow: 0px 5px 15px 0px rgb(62 65 159 / 10%);
                padding: 40px;
                height: 300px;
                .icon{
                    width: 85px;
                    height: 85px;
                    background: #f5f5f5;
                    line-height: 85px;
                    text-align: center;
                    margin: 0 auto;
                    border-radius: 50%;
                    color: #738ea5;
                    margin-bottom: 23px;
                    svg {
                        font-size: 40px;
                    }
                }
                .title {
                    h3 {
                        font-weight: 500;
                        font-size: 30px;
                    }
                }
                .text {
                    a {
                        text-decoration: none;
                        transition: .1ms;
                        &:hover {
                            text-decoration: underline;
                            color: $color-desc !important;
                        }
                    }
                }
            }
        }
    }
}

// Contact Sect 3
.contact-sect-3 {
    .block-items {
        margin-bottom: 120px;
        .title {
            text-align: center;
            margin-bottom: 20px;
            h3 {
                font-size: 35px;
                font-weight: 500;
            }
        }
        .desc {
            text-align: center;
            margin-bottom: 50px;
            p {
                font-size: 16px;
                color: #848892;
                line-height: 1.7;

            }
        }
        .item-form {
        padding: 50px 40px 40px;
        background: #fff;
        box-shadow: 0px 1px 15px 0px rgb(62 65 159 / 10%);
            .row {
                .col-md-6 {
                    margin-bottom:20px;
                    input{
                        height: 50px ;
                        background: #f9f9f9;
                        border-radius: 0;
                        font-size: 20px;
                        padding-left: 25px;
                        &:focus {
                            background-color: #fff;
                            border-color: #86a0b6;
                            box-shadow: none;
                        }
                    }
                }
                .col-md-12 {
                    textarea {
                        background-color: #f9f9f9;
                        font-size: 20px;
                        padding-left: 25px;
                        &:focus {
                            background-color: #fff;
                            border-color: #86a0b6;
                            box-shadow: none;
                        }
                    }
                }
            }
            .item-btn   {
                text-align: center;
                margin: 35px 0 20px;
                button {
                    margin: 0 auto;
                    width: auto;
                    border: 0;
                    padding: 10px 50px;
                    background-color: $biru-2;
                    color: #fff;
                    text-align: center;
                    font-size: 18px;
                    font-weight: 600;
                }
            }
        
        }
    }
}