@use "globals";
// Untuk Title
$font-raleway :'Raleway',
sans-serif;


$color-desc: #738ea5;
$color-desc-2: #848892;
$biru-1: #d4e6f5;
$biru-2: #86a0b6;
$biru-3: #cde0ef;
$color-blue: #002642;

$light: 300;
$reguler: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

.detailProduk-sect-2 {
	// background-color: #aaa;
	.blocks-items {
		margin: 90px 0 110px;
		// .title {
		// 	padding: 50px 0 80px;
		// 	h3 {
		// 		font-size: 30px;

		// 	}
		// }
		.row {
			.owl-carousel {
				.item {
					.logo {
						img {
							max-height: 90%;
							max-width: 90%;
							margin: 5px auto;
							height: 400px;
							object-fit: cover;
						}
					}
				}
			}

			.owl-theme {
				.owl-dots {
					span {
						background-color: $biru-3;
					}
						.active {
							span {
								background: $biru-2 !important;
							}
						}
					// .owl-dot {
					// 	display:inline-block;
					// }
				}
			}

			.owl-nav {
				display: block !important;
				.owl-prev,
				.owl-next {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					color: $biru-2 !important;
					font-size: 55px !important;
					font-weight: bolder;
					background: none !important;
					transition: .3s;
					&:hover {
						color: #86a0b69c !important;
					}
				}
			}


			.owl-prev {
				left: 3px;
			}

			.owl-next {
				right: 3px;
			}

			.items-text {
				margin-left: 30px;
				.title {
					padding: 15px 0 20px;
					h3 {
						font-size: 30px;
						color: $color-desc;
					}
				}
				.text {
					.price {
						margin-bottom: 30px;
						p {
							font-size: 22px !important;
							color: $color-blue !important;
							font-weight: $semibold;
						}
					}
					.desc {
						height: 150px;
						overflow: hidden;
						margin-bottom: 30px;
						&:hover {
							overflow: auto;
						}
						p {
							font-size: 17px !important;
							line-height: 1.4 !important;

						}
					}
					.row {
						.item-qty {
							input {
								border-radius: 0;
								width: 90px;
								height: 40px;
								font-size: 17px !important;

								&:focus {
									color: $color-blue;
									box-shadow: none;
									border-color: $biru-2;
								}
							}
						}
						.item-addCart {
							margin-left: -15px;
							margin-bottom: 30px;
							button {
								border: 0;
								background-color: $biru-2;
								color: #fff;
								height: 40px;
								padding: 0 25px !important;
								font-weight: $medium;
								transition: 0.3s;
								&:hover {
									background-color: #738ea5b0;
									color: #fff;
								}
							}
						}
						
						.item-meta-kat {
							h5 {
								display: flex !important;
								font-size: 15px;
								color: $color-blue;
								font-weight: $semibold;
								a {
									padding-left: 3px;
									text-decoration: none;
									color: $biru-2 !important;
								}
							}
						}
					}
				}
			}
			.block-spek-produk {
				margin-top: 50px;
				.row {
					.title {
						margin-bottom: 20px;
						h3 {
							font-size: 25px;
							text-transform: capitalize;
						}
					}
				}
			}
		}
		.item-note {
			margin-top: 50px;
			.text {
				background-color: $biru-3;
				border: 1px solid $color-desc-2;
				border-radius: 20px;
				margin: 0 auto;
				width: 600px;
				text-align: center;
				padding: 20px 0 30px;
				p:nth-child(1) {
					font-size: 20px !important;
					color: #333 !important;
					margin-bottom: 0;
					
				}
				p:nth-child(2) {
					font-size: 15px !important;
					color: #333 !important;
					margin-bottom: 0;
				}
			}
		}
	}
}