@use "globals";
// Untuk Title
$font-raleway :'Raleway',
sans-serif;
$font-great:'Great Vibes',
cursive;
$font-poppins: 'Poppins',
sans-serif;
$font-halant: 'Halant',
serif;
// color
// $color-pink:#ee9e9e;
// $color-pink2:#fa8282;
$color-desc: #738ea5;
$color-desc-2: #848892;
$biru-1: #d4e6f5;
$biru-2: #86a0b6;
$biru-3: #cde0ef;
$color-blue: #002642;
// Font Weight
$light: 300;
$reguler: 400;
$medium: 500;
$semibold:600;
$bold: 700;
$black: 900;



// Items wa 
.item-wa {
    position: fixed;
    left: 20px;
    bottom: 10px;
    z-index: 9999;
    // background-color: #2ad265;
    // border-color: #2ad265;
    a {
        border-radius: 50%;
        text-align: center;
        svg {
            font-size: 40px;
        }   
    }
}

// Scroll Top
.item-scroll-top {
    position: fixed;
    right: 20px;
    bottom: 10px;
    z-index: 9999;
    button {
        border-radius: 50%;
        background-color: #97a6b4;
        text-align: center;
        padding: 10px 8px 10px 8px;
        border: 0;
        height: 44px;
        width: 44px;
        box-shadow: 0 1px 8px rgb(0 0 0 / 12%);
        svg {
            margin-bottom: 9px;
            color: #fff;
            font-size: 24px;
        }

    }
}


// Footer Baru
.footer {
    // Footer Top
    .footer-top {
        padding: 100px 80px;
        background-color: #edf3f8;
        position: relative;
        z-index: 1;
        &::before {
            position: absolute;
            left: 1%;
            top: 4%;
            border: 1px solid #cde0ef;
            content: "";
            width: 98%;
            height: 92%;
            z-index: -1;
        }
        .blocks-items {
            .row {
                // justify-content: center;
                .img-footer {

                    h3 {
                        font-size: 50px !important;
                        font-family: $font-great;
                        font-weight: $semibold;
                        letter-spacing: 3px !important;
                    }
                }
                .text {
                    p {
                        font-size: 16px;
                        color: #525252 !important;
                        width: 350px;
                        line-height: 2;
                    }
                }
                .icon-sosmed {
                    ul {
                        list-style: none;
                        display: flex;
                        overflow: hidden;
                        margin-top: 10px;
                        padding-left: 0;
                        li{
                            a {
                                line-height: 33px;
                                background-color: #fff !important;
                                color: $color-blue !important;
                                text-align: center;
                                border-radius: 50%;
                                margin-right: 10px;
                                height: 37px;
                                width: 37px;
                                display: block;
                                    transition: all 0.4s;
                                &:hover {
                                    background-color: $color-blue !important;
                                    color: #fff !important;
                                }
                                svg {
                                    font-size: 22px;
                                }
                            }
                        }
                    }
                }
                .items-infor {
                    margin-left: 50px;
                    .title {
                        margin-bottom: 25px;
                        h3 {
                            font-size: 20px;
                            color: $color-blue;
                            text-transform: uppercase;
                            font-weight: $semibold;
                        }    
                    }
                    ul {
                        list-style: none;
                        padding-left: 0 ;
                        li {
                                padding-bottom: 7px;
                            a {
                                text-decoration: none;
                                color: #575757 !important;
                                font-size: 17px;
                                font-weight: $semibold;
                                line-height: 2;
                                &:hover {
                                    text-decoration: underline;
                                }
                            } 

                        }
                    }
                }
                .block-alamat {
                    .title {
                        margin-bottom: 25px; 
                        h3 {
                            font-size: 20px;
                            color: $color-blue;
                            text-transform: uppercase;
                            font-weight: $semibold;
                        } 
                    }
                    .text {
                        mb2
                        p {
                            font-size: 16px;
                            color: #525252;
                            line-height: 1.7;    
                        }
                    }
                    .items-icon {
                        .icon {
                            margin-bottom: 15px;
                            a {
                                text-decoration: none;
                                color: $color-desc !important;
                                font-size: 19px;
                                transition: all .8s;
                                svg {
                                    font-size: 25px;
                                    margin-right: 7px;
                                }
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
                .foot-img {
                    .title {
                        margin-bottom: 35px;
                        h3 {
                            font-size: 20px;
                            color: $color-blue;
                            text-transform: uppercase;


                        }
                    }
                    .row {
                        --bs-gutter-x: 10px;
                        .img-foot {
                            margin-bottom: 10px;
                            img {
                                height: 120px;
                                width: auto;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }

    // Footer Bawah
    .footer-bottom {
        background-color: $color-desc;
        padding: 20px 0;
        .blocks-items {
            display: flex;
            justify-content: center;
            .text-copyright {
                p {
                    font-size: 16px;
                    color: #fff !important;
                    margin-bottom: 0;
                }
            }
        }
    
    }
}