@use "globals";
// Untuk Title
$font-raleway :'Raleway',
sans-serif;
$font-great:'Great Vibes',
cursive;
$font-poppins: 'Poppins',
sans-serif;
$font-halant: 'Halant',
serif;
// color
$color-pink:#ee9e9e;
$color-pink2:#fa8282;
$bg-section:#fffdfdea;
$color-desc:#738ea5;
$color-blue:#002642;
// Font Weight
$light: 300;
$reguler: 400;
$medium: 500;
$semibold:600;
$bold: 700;
$black: 900;

// Footer Baru
.footer {
    // Footer Top
    .footer-top {
        padding: 100px 80px;
        background-color: #edf3f8;
        position: relative;
        z-index: 1;
        &::before {
            position: absolute;
            left: 1%;
            top: 4%;
            border: 1px solid #cde0ef;
            content: "";
            width: 98%;
            height: 92%;
            z-index: -1;
        }
        .blocks-items {
            .row {
                .text {
                    p {
                        font-size: 16px;
                        color: #525252 !important;
                        width: 300px;
                        line-height: 2;
                    }
                }
                .icon-sosmed {
                    ul {
                        list-style: none;
                        display: flex;
                        overflow: hidden;
                        margin-top: 10px;
                        padding-left: 0;
                        li{
                            a {
                                line-height: 33px;
                                background-color: #fff !important;
                                color: $color-blue !important;
                                text-align: center;
                                border-radius: 50%;
                                margin-right: 10px;
                                height: 37px;
                                width: 37px;
                                display: block;
                                    transition: all 0.4s;
                                &:hover {
                                    background-color: $color-blue !important;
                                    color: #fff !important;
                                }
                                svg {
                                    font-size: 22px;
                                }
                            }
                        }
                    }
                }
                .items-infor {
                    .title {
                        margin-bottom: 25px;
                        h3 {
                            font-size: 20px;
                            color: $color-blue;
                            text-transform: uppercase;
                            font-weight: $semibold;
                        }    
                    }
                    ul {
                        list-style: none;
                        padding-left: 0 ;
                        li {
                                padding-bottom: 7px;
                            a {
                                text-decoration: none;
                                color: #575757 !important;
                                font-size: 17px;
                                font-weight: $semibold;
                                line-height: 2;
                                &:hover {
                                    text-decoration: underline;
                                }
                            } 

                        }
                    }
                }
                .block-alamat {
                    .title {
                        margin-bottom: 25px; 
                        h3 {
                            font-size: 20px;
                            color: $color-blue;
                            text-transform: uppercase;
                            font-weight: $semibold;
                        } 
                    }
                    .text {
                        mb2
                        p {
                            font-size: 16px;
                            color: #525252;
                            line-height: 1.7;    
                        }
                    }
                    .items-icon {
                        .icon {
                            margin-bottom: 15px;
                            a {
                                text-decoration: none;
                                color: $color-desc !important;
                                font-size: 19px;
                                transition: all .8s;
                                svg {
                                    font-size: 25px;
                                    margin-right: 7px;
                                }
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
                .foot-img {
                    .title {
                        margin-bottom: 35px;
                        h3 {
                            font-size: 20px;
                            color: $color-blue;
                            text-transform: uppercase;


                        }
                    }
                    .row {
                        --bs-gutter-x: 10px;
                        .img-foot {
                            margin-bottom: 10px;
                            img {
                                height: 120px;
                                width: auto;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }

    // Footer Bawah
    .footer-bottom {
        background-color: $color-desc;
        padding: 20px 0;
        .blocks-items {
            display: flex;
            justify-content: center;
            .text-copyright {
                p {
                    font-size: 16px;
                    color: #fff !important;
                    margin-bottom: 0;
                }
            }
        }
    
    }
}