@use "globals";
// Untuk Title
$font-raleway :'Raleway',
sans-serif;
$font-great:'Great Vibes',
cursive;
$font-poppins: 'Poppins',
sans-serif;
$font-halant: 'Halant',
serif;
// color
$color-pink:#ee9e9e;
$color-pink2:#fa8282;
$bg-section:#fffdfdea;
$bg-section:#f9f9f9;
$color-desc:#738ea5;
$biru-1: #d4e6f5;
$biru-2: #86a0b6;
$biru-3:#cde0ef;
$color-blue:#002642;
// Font Weight
$light: 300;
$reguler: 400;
$medium: 500;
$semibold:600;
$bold: 700;
p {
    font-family: $font-raleway ;
    // letter-spacing: 1.2px;
}

.section-img-banner {
    .slide {
        width: 100%;
        height: 100vh;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        .img-fluid {
            position: absolute;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            height: 100vh !important;
        }
    }
    .slide::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(7, 3, 3, 0.138);
    }
    .slide-content {
        position: relative;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        padding: 0 30px;
        // z-index: 1000;
        .text-title {
            padding-bottom: 30px;
            h1 {
                padding-top: 100px;
                margin: auto;
                font-family: $font-great;
                font-weight: $reguler;
                font-size: 100px;
                width: 1260px;
                line-height: 1;
                text-shadow: 2px 2px #9d9797;
                color: #fff;
            }
        }
        .text-desc {
            padding-bottom: 20px;
            p {
                font-family: $font-raleway;
                font-weight: $reguler;
                font-size: 18px;
                letter-spacing: 1.2px;
                width: 40%;
                color: #fff !important;
                margin: auto;
                text-shadow: 1px 1px #b8b4b4;
            }
        }
        .btns-slide {
            height: 40px;
            background-color: $biru-2;
            display: inline-block;
            width: 200px;
            a {
                line-height: 40px;
                font-size: 17px;
                letter-spacing: 1px;
                color: #fff !important;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }
    .owl-dots {
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 1%;
        span {
            width: 12px !important;
            height: 12px !important;
        }
        button {
            border: none !important;
            outline: none !important;
        }
    }
    .owl-nav {
        button {
            border: none !important;
            outline: none !important;
            // color: #fa8282;
        }
    }
    .owl-prev,
    .owl-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: #fff !important;
        font-size: 65px !important;
        font-weight: bolder;
        background: none !important;
    }
    .owl-prev {
        left: 10px;
    }
    .owl-next {
        right: 10px;
    }
}

// Home sect 
.home-sect-2 {
    margin-bottom: 100px;
    .blocks-items {
        padding-top: 80px;
        .title {
            margin-bottom: 50px;
            h3 {
                font-size: 40px;
                margin-bottom: 10px;

            }
            hr {
                height:2px ;
                color: $biru-2;
                width: 150px;
                margin: auto;
            }
        }
        .items{
            .row{
                .col-md-4{
                    .icon {
                        margin-bottom: 30px;
                        border-radius: 50%;
                        height: 50px;
                        width: 50px;
                        line-height: 42px;
                        margin: 0 auto 25px;
                        background-color: $biru-2;
                        svg {
                            color: #fff;
                            font-size: 22px;
                        }
                    }
                    .title {
                        margin-bottom: 15px;
                        h3 {
                            font-size: 20px;
                        }
                    }
                    .desc {
                        p {
                            line-height: 1.5;
                        }
                    }
                }
            }
        }
    }
}

// Section home 3
.home-sect-3 {
    .blocks-items {
        padding: 0 0 120px;
        .row {
            .items-pict {
                position: relative;
                z-index: 1;
                .img-about-1 {
                    padding: 16px;
                    box-shadow: 0px 2px 16.8px 3.2px rgb(0 0 0 / 8%);
                    background: #fff;
                    max-width: 505px;
                    text-align: center;
                    .pict-1 {
                        padding: 20px;
                        background: #86a0b6;
                        img {
                            margin: 0 auto;
                            width: 100%;
                        }
                    }
                }
                .item-img {
                    position: absolute;
                    left: 28px;
                    top: 30px;
                    transition: all 5s;
                    transform: rotate(10deg);
                    .img-about-2 {
                        padding: 15px;
                        box-shadow: 0px 2px 16.8px 3.2px rgb(0 0 0 / 8%);
                        background: #fff;
                        max-width: 475px;
                            .pict-2 {
                                padding: 20px;
                                background-color: $biru-2;
                                img {
                                    height: auto;
                                    max-width: 100%;
                                    border: none;
                                    border-radius: 0;
                                }
                            }
                        }
                }

                .img-single {
                    img {
                        position: absolute;
                        left: -45%;
                        bottom: 0;
                        z-index: -1;
                    }
                }
            }

            .items-text {
                .pict-title {
                    margin-bottom: 20px;

                    img {
                        width: 90px;
                    }
                }

                .title {
                    margin-bottom: 35px;

                    h3 {
                        color: #002642;
                        font-size: 35px;
                    }
                }
                .desc {
                    p:nth-child(1) {
                        margin-bottom: 25px;
                        font-size: 16px;
                        color: #848892;
                    }

                    p:nth-child(2) {
                        margin-bottom: 25px;
                        font-size: 16px;
                        color: #848892;
                    }
                }
                .items-btn {
                    margin-top: 40px;
                    // border: 1px solid #cde0ef;
                    a {
                        background-color: $biru-3;
                        text-decoration: none;
                        color: $color-blue !important;
                        padding: 15px 45px;
                        font-weight: $semibold;
                        border: 0;
                        position: relative;
                        z-index: 1;
                        transition: all 0.3s;
                        font-size: 16px !important;
                        &::after {
                            border: 1px solid #cde0ef;
                            position: absolute;
                            top: 5px;
                            left: 5px;
                            width: 100%;
                            height: 100%;
                            content: "";
                            z-index: -1;
                            transition: all 0.3s;
                        }
                        &:hover {
                            background: #86a0b6;
                            color: #fff !important;
                            &::after {
                                border: 1px solid #86a0b6 !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Home setc 4 coba
.home-sect-4{
    .blocks-items {
        padding-bottom: 120px;
        .item-text {
            .title {
                margin-bottom: 20px;
                h3 {
                    font-size: 35px;
                    color: $color-blue !important;
                }
            }
            .desc {
                margin-bottom: 50px;
                p {
                    font-size: 16px;
                }
            }
        }
        .blocks-layanan {
            .owl-carousel {
                .item {
                    position: relative;
                    margin: 0 15px;
                    .item-service{
                        background-color: #edf3f8;
                        padding: 8px;
                        .img-service{
                            position: relative;
                            img {
                                height: 360px;
                                width: 360px;
                                object-fit: cover;
                            }
                            .item-service-text {
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -50%);
                                padding: 20px;
                                background: rgba(255, 255, 255, 0.8);
                                width: 240px;
                                text-align: center;
                                .icon {
                                    margin-bottom: 10px;
                                    position: relative;
                                    display: inline-block;

                                    &::before {
                                        position: absolute;
                                        left: -45px;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        width: 30px;
                                        height: 2px;
                                        background: $biru-2;
                                        content: "";
                                    }
                                    svg {
                                        font-size: 33px;
                                        color: $biru-2;
                                    }
                                    &::after {
                                        position: absolute;
                                        left: auto;
                                        right: -45px;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        width: 30px;
                                        height: 2px;
                                        background: $biru-2;
                                        content: "";
                                    }
                                }
                                h3 {
                                    margin: 0;
                                    font-weight: 600;
                                    a {
                                        text-decoration: none;
                                        color: $color-blue !important;
                                        font-size: 18px !important;
                                        &:hover {
                                            color: $color-desc !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .owl-nav {
                    display: block;
                    .owl-prev {
                        left: -25px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        color: #738ea5;
                        background-color: transparent;
                        span {
                            font-size: 50px;
                        }
                        &:hover {
                            color: #002642;
                        }
                    }
                    .owl-next {
                        right: -25px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        color: #738ea5;
                        background-color: transparent;

                        span {
                            font-size: 50px;
                        }
                        &:hover {
                            color: #002642;
                        }
                    }
                }
                .owl-dots {
                    display: none;
                }
            }
        }
    }
}

// Section Home 5 
.home-sect-5 {
    background-color: $bg-section;
    .blocks-items {
        padding: 100px 0 20px;
        margin-bottom: 120px;
        .item-text {
            .text-title {
                margin-bottom: 15px;
                h3 {
                    font-family: $font-poppins;
                    font-weight: $reguler;
                    // line-height: 1.8;
                    letter-spacing: 1.2px;
                }
            }
            .text-desc {
                margin-bottom: 50px;
                p {
                    font-weight: $reguler;
                    font-family: $font-raleway;
                    font-size: 17px;
                }
            }
        }
        .row {
            .pict {
                img {
                    height: 290px;
                }
            }
            .text-title {
                margin: 20px 0;
                p {
                    font-weight: $medium;
                    font-size: 18px;
                    font-family: $font-raleway;
                }
            }
            .link-sosmed-icons {
                margin-bottom: 85px;
                .items-icons {
                    text-decoration: none;
                    .icon-ig {
                        margin-right: 10px;
                        color: #6f6565;
                    }
                    .icon-fb {
                        color: #6f6565;
                    }
                }
            }
        }
    }
}

// BARU Home sect 6
.home-sect-6 {
    background-color: #edf3f8;
    max-width: 1400px !important;
    position: relative;
    margin: 0 auto;
    .container-fluid {
        max-width: 1170px ;
        .blocks-items {
            position: relative;
            padding: 120px 0;
            .row {
                .items-img {
                    width: 438px;
                    height: 438px;
                    position: relative;
                    left: -60px;
                    img {
                        width: 100%;
                        border-radius: 50%;
                        // object-fit: cover;
                    }
                    .img-bingkai {
                    position: absolute;
                    left: -24px;
                    top: -37px;
                    width: 115%;
                    height: 100%;
                        img {
                            border-radius: 0;
                        }
                    }
                }
                .items-testimoni {
                    .item {
                        .title {
                            h3 {
                                position: relative;
                                display: inline-block;
                                padding-bottom: 55px;
                                // &::before {
                                //     position: absolute;
                                //     bottom: 0;
                                //     left: 3px;
                                //     font-family: "Flaticon";
                                //     content: "";
                                //     font-size: 40px;
                                // } 
                                &::after {
                                    position: absolute;
                                    bottom: 25px;
                                    left: 45%;
                                    transform: translateX(-50%);
                                    content: "";
                                    width: 110px;
                                    height: 1px;
                                    background: #86a0b6;
                                }
                            }
                        }
                        .text {
                            margin-top: -10px;
                            p {
                                color: $color-blue !important;
                                width: 650px;
                                line-height: 1.8;
                                font-size: 19px !important;
                            }
                        }
                        .items-img-info{
                            display: flex;
                            align-items: center;
                            padding-left: 10px;
                            padding-bottom: 10px;
                            margin-top: 20px;
                            .testimoni-img {
                                position: relative;
                                margin-right: 20px;
                                &::before {
                                    position: absolute;
                                left: -3px;
                                top: -3px;
                                width: 110%;
                                height: 109%;
                                content: "";
                                background: #86a0b6;
                                z-index: -1;
                                border-radius: 50px;
                                }
                                img {
                                    border-radius: 50%;
                                    width: 70px;
                                    height: 70px;
                                }
                            }
                            .info-klien { 
                                margin-bottom: 8px;
                                h3 {
                                    font-size: 20px;
                                    text-transform: capitalize;
                                    color: $color-blue;
                                }
                            }
                        }
                    }
                    svg {
                        position: relative;
                        top: -50px;
                        font-size: 35px;
                        color: $biru-2;
                    }
                    .owl-dots {
                        text-align: start;
                        .owl-dot {
                            span {
                                background-color: $biru-1;
                            }
                        }
                            .active {
                                span {
                                    background: $color-desc;
                                    color: $biru-2;
                                }
                            }
                    }
                }
            }
        }
    }
    .img-shape {
        position: absolute;
        right: 70px;
        top: 50%;
        transform: translateY(-50%);
    }
}

// Section home sect 7 
.section-home-sect-7 {
    background-color: #f9f9f9;
    // height: 200px;
    .blocks-items {
        padding: 100px 0 80px;
        .item-text {
            .text-title {
                margin-bottom: 20px;
                h3 {
                    color: $color-pink2;
                    font-family: $font-halant;
                    font-weight: $semibold;
                    font-size: 70px;
                    .iconify {
                        margin-left: -15px;
                    }
                }
            }
            .text-desc {
                p:nth-child(1) {
                    font-family: $font-poppins;
                    font-size: 18px;
                    margin-bottom: 10px;
                }
                p:nth-child(2) {
                    font-size: 17px;
                    font-family: $font-raleway;
                    margin-bottom: 20px;
                    width: 360px;
                    line-height: 1.5;
                }
            }
        }
    }
}

// BARU
// Home sect 8
.home-sect-8 {
    .blocks-items {
        margin-bottom: 100px;
        .item-title {
            text-align: center;
            margin-bottom: 60px;
            .text { 
                margin-bottom: 0;
                p {
                    font-size: 18px;
                }
            }
            .title {
                margin: 20px 0;
                h3 {
                    font-size: 40px;
                    color: $color-blue;
                }
            }
            .title-img {
                position: relative;
                margin: 0 auto;
                max-width: 200px;
                &::before {
                    position: absolute;
                    left: -70px;
                    background-color: $color-desc;
                    content: "";
                    width: 100px;
                    height: 1px;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &::after {
                    position: absolute;
                    right: -70px;
                    left: auto;
                    background-color: $color-desc;
                    content: "";
                    width: 100px;
                    height: 1px;
                    top: 50%;
                    transform: translateY(-50%);
                
                }
            }
        }
        .item-list-produk {
            padding: 50px 80px 0;
            border: 1px solid  $biru-1;
            .row {
                .item-produk {
                    margin-bottom: 50px;
                    .img-produk {
                        margin-bottom: 20px;
                        position: relative;
                        overflow: hidden;
                        img {
                            width: 100%;
                            height: 450px;
                            object-fit: cover;
                            transform: scale(1);
                            transition: all 0.3s;
                            cursor: pointer;
                            &:hover {
                                transform: scale(1.2);
                            }
                        }
                        a {
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            font-size: 18px;
                            padding: 10px 25px;
                            border: 1px solid #86a0b6;
                            color: #86a0b6;
                            display: block;
                            width: 180px;
                            text-align: center;
                            background: rgba(255, 255, 255, 0.9);
                            opacity: 0;
                            visibility: hidden;
                            transition: all 0.3s;
                            text-decoration: none;
                            &:hover {
                                opacity: 1;
                                    visibility: visible;
                            }
                        }
                    }
                    .title {
                            text-align: center;
                        a {
                            font-size: 20px !important;
                            text-align: center;
                            color: $color-blue !important;
                            font-weight: $bold;
                            text-decoration: none;
                            transition: all 0.2s;
                            &:hover {
                                color: $biru-2 !important;
                            }
                        }
                    }
                }
            }
        }
    }
} 

// Homs sect 9
.home-sect-9 {
    background-image: url('../img/bg-1.jpg');
    background-position: center;
    background-size: cover;
    z-index: 9;
    .blocks-items {
        // background-color: #18548b;
        // opacity: 0.3;
        // position: relative;
        margin-bottom: 100px;
        .img-bg-home {
            // position: relative;
            justify-content: center;
            .item-text {
                // position: relative;
                z-index: 1;
                padding: 145px 0;
                .title {
                    margin: 10px 0 30px;
                    h3 {
                        font-size: 60px;
                        color: #fff;
                        font-weight: $bold;
                        text-transform: capitalize;
                        text-shadow: 2px 3px 4px #3b3b3b;
                    }
                }
                .btns {
                    a {
                        background: #f7fefa;
                        color: $color-blue  !important;
                        display: inline-block;
                        padding: 15px 45px;
                        border: 0;
                        text-transform: capitalize;
                        z-index: 1;
                        position: relative;
                        font-size: 16px !important;
                        transition: all 0.3s;
                        text-decoration: none;
                        font-weight: $semibold !important;
                        letter-spacing: 1 !important;
                        &::after {
                            position: absolute;
                            left: 5px;
                            top: 5px;
                            width: 100%;
                            height: 100%;
                            content: "";
                            border: 1px solid #fff;
                            z-index: -1;
                            transition: all 0.3s;
                        }
                        &:hover {
                            background-color: $biru-2 !important;
                            color: #fff !important;
                            &::after {
                            border: 1px solid #86a0b6 !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Home sect 10
.home-sect-10 {
    .blocks-items {
        padding-bottom: 120px;
        .item-title {
            text-align: center;
            margin-bottom: 60px;
            .title {
                margin-bottom: 20px;
                h3 {
                    font-size: 40px;
                    color: $color-blue;
                }
            }
            .img-title {
                position: relative;
                margin: 0 auto;
                max-width: 200px;
                &::before {
                    position: absolute;
                    width: 100px;
                    height: 1px;
                    background-color: $color-desc;
                    content: "";
                    top: 50%;
                    left: -70px;
                    transform: translateY(-50%);
                }
                img {
                    height: auto;
                    max-width: 100%;
                    }
                &::after {
                    position: absolute;
                    width: 100px;
                    height: 1px;
                    background-color: $color-desc;
                    content: "";
                    top: 50%;
                    left: auto;
                    right: -70px;
                    transform: translateY(-50%);
                }
            }
        }
        .block-wrap-card {
            padding-top: 85px;
            .row {
                .item-card {
                    box-shadow: 0px 2px 16.8px 3.2px #00264214;
                    .card-top {
                        text-align: center;
                        border-bottom: 1px solid $biru-1;
                        padding: 30px;
                        padding-top: 0;
                        .title {
                            h3 {
                                color: $color-blue;
                                font-size: 25px;
                            }
                        }
                        .img-title {
                            width: 170px;
                            height: 170px;
                            padding: 10px;
                            box-shadow: 0px 2px 16.8px 3.2px rgb(0 38 66 / 8%);
                            background: #fff;
                            border-radius: 50%;
                            margin: 0 auto;
                            position: relative;
                            top: -85px;
                            margin-bottom: -50px;
                            img {
                                height: auto;
                                max-width: 100%;
                                border: none;
                                border-radius: 50%;

                            }
                        }
                    }
                    .card-bottom {
                        padding: 40px;
                        text-align: center;
                        .item-text {
                            ul {
                                list-style: none;
                                li {
                                    color: #7b7b7b;
                                    padding-bottom: 15px;
                                }
                            }
                        }
                        .item-btns {
                            a {
                                text-decoration: none;
                                color: $color-blue !important;
                                font-weight: $bold !important;
                                margin-top: 20px;
                                padding-bottom: 10px;
                                position: relative; 
                                transition: all 0.2s;
                                &::before {
                                    position: absolute;
                                    left: 0;
                                    bottom: 0;
                                    width: 100%;
                                    height: 1px;
                                    background: $color-blue !important;
                                    content: "";
                                    transition: all 0.3s;
                                }
                                &:hover {
                                    color: $biru-2 !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Banner
// Home sect 11
.home-sect-11 {
    background-image: url('../img/banner-home.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    .blocks-items {
        margin-bottom: 120px;
        .title {
            padding: 100px 0;
            h3 {
                font-size: 40px;
                color: $color-blue;
                text-transform: capitalize;
                width: 850px;
                margin: 0 auto;
            }
        }
    }
}

// Homs sect 12 
.home-sect-12 {
    .blocks-items {
        padding-bottom: 120px;
        .block-contact{
            position: relative;
            max-width: 655px;
            margin: 0 auto;
            padding: 10px;
            box-shadow: 0px 2px 16.8px 3.2px rgb(0 0 0 / 8%);
            background-color: #fff;
            .form-contact {
                text-align: center;
                border: 30px solid #cde0ef;
                padding: 60px 40px;
                .form-title {
                    p {
                        margin-bottom: 20px;
                        font-size: 20px;
                    }
                    h3 {
                        font-size: 35px;
                        color: $color-blue;
                        margin-bottom: 20px;
                    }
                    .img-title {
                        margin-bottom: 50px;
                    }
                }
            }
        }
        .items-form {
            form {
                .item-form {
                    margin-bottom: 20px;
                    input {
                        border: 0;
                        border-bottom: 1px solid #cde0ef ;
                        border-radius: 0;
                        background: transparent;
                        color: $color-desc;
                        &:focus {
                            box-shadow: none;
                            border-color: $color-desc;
                        }
                    }
                } 
                .item-option {
                    margin-bottom: 20px;
                    select {
                        border: 0;
                        border-radius: 0;
                        border-bottom: 1px solid #cde0ef;
                        background-color: transparent;
                        color: #6c757d;
                        background-image: transparent url('../img/select-icon2.png') no-repeat calc(100% - 15px) center;
                        &:focus {
                            box-shadow: none;
                            border-color: $color-desc;
                        }
                    }
                }
                textarea {
                    border: 0;
                    border-radius: 0;
                    border-bottom: 1px solid #cde0ef;
                    background-color: transparent;
                    color: #6c757d;
                    
                    &:focus {
                        box-shadow: none;
                        border-color: $color-desc;
                    }
                }
                .btn-submit {
                    button {
                        margin-top: 50px;
                        border: 0;
                        background-color: $biru-1;
                        padding: 15px 45px;
                        font-weight: $semibold;
                        color: $color-blue;
                        transition: all 0.5s;
                        &:hover {
                            color: #fff;
                            background-color: $color-desc;
                        }
                        
                    }
                }
            }
        }
        .img-vector-1 {
            img {
                position: absolute;
                left: -59%;
                bottom: 0;
                z-index: 111;
            }
        }

        .img-vector-2 {
            img {
                position: absolute;
                right: -38%;
                top: 0;
                z-index: -1;
            }
        }
    }
}

// Home sect 13
.home-sect-13 {
    .blocks-items {
        .text-title {
            margin-bottom: 20px;
            h3 {
                font-weight: $semibold;
                font-size: 35xpx;
            }
        }
        .text-desc {
            margin-bottom: 50px;
            p {
                font-size: 17px !important;
            }
        }
        .row {
            .col-12 {
                img {
                    border-radius: 20px;
                }
            }
        }
    }
}