@use "globals";
// Untuk Title
$font-raleway :'Raleway',
sans-serif;
$font-great:'Great Vibes',
cursive;
$font-poppins: 'Poppins',
sans-serif;
$font-halant: 'Halant',
serif;
// color
$color-pink:#ee9e9e;
$color-pink2:#fa8282;
$bg-section:#fffdfdea;
$bg-section:#f9f9f9;
// Font Weight
$light: 300;
$reguler: 400;
$medium: 500;
$semibold:600;
$bold: 700;
$black: 900;
// ul {
//     list-style: none;
// }
// .navbar-item {
//     position: sticky;
//     top: 0;
//     width: 100%;
//     background: rgb(133, 125, 125);
//     z-index: 1000;
//     height: 65px;
//     .container {
//         max-width: 65rem;
//         padding: 0 2rem;
//         height: 3rem;
//         margin: 0 auto;
//         display: flex;
//         .logo-container {
//             flex: 1;
//             align-items: center;
//             .logo {
//                 color: #fa8282;
//                 font-size: 30px;
//                 span {
//                     color: #b11313;
//                 }
//             }
//         }
//         .nav-btn {
//             flex: 3;
//             display: flex;
//             .nav-links {
//                 flex: 2;
//                 ul {
//                     display: flex;
//                     justify-content: center;
//                     align-items: center;
//                 }
//             }
//             .nav-link {
//                 position: relative;
//                 a {
//                     text-decoration: none;
//                     line-height: 3rem;
//                     height: 3rem;
//                     padding: 0 12px;
//                     letter-spacing: 1px;
//                     font-size: 15px;
//                     display: flex;
//                     justify-content: space-between;
//                     align-items: center;
//                     // transition: .4s;
//                     .iconify {
//                         margin-left: 5px;
//                     }
//                 }
//                 .dropdown {
//                     position: absolute;
//                     top: 100%;
//                     left: 0;
//                     width: 10rem;
//                     .dropdown-link:not(:nth-last-child(2)) {
//                         border-bottom: 1px solid #efefef;
//                     }
//                     .dropdown-link:hover a {
//                         background-color: #b11313;
//                     }
//                     .dropdown-link:first-child:hover~.arrow {
//                         background-color: #b11313;
//                     }
//                     .dropdown-link {
//                         position: relative;
//                     }
//                     .arrow {
//                         position: absolute;
//                         width: 11px;
//                         height: 11px;
//                         top: -5.5px;
//                         left: 32px;
//                         background-color: #fff;
//                         transform: rotate(45deg);
//                         cursor: pointer;
//                         transition: .3s;
//                         z-index: -1;
//                     }
//                     ul {
//                         list-style-type: none;
//                         display: inline-block;
//                         position: relative;
//                         padding-left: 10px;
//                         .dropdown-link {
//                             a {
//                                 display: flex;
//                                 background-color: #fff;
//                                 color: #ee9e9e;
//                                 padding: 8px 16px;
//                                 align-items: center;
//                                 justify-content: space-between;
//                                 transition: .3s;
//                             }
//                             .dropdown-second {
//                                 top: 0;
//                                 left: 100%;
//                                 margin-right: 16px;
//                                 cursor: pointer;
//                                 .arrow {
//                                     top: 10px;
//                                     left: -5.5px;
//                                 }
//                             }
//                             .iconify {
//                                 transform: rotate(-90deg);
//                             }
//                         }
//                     }
//                 }
//             }
//             // .nav-link:hover a {
//             //     transform: scale(1.1);
//             // }
//             .log-sign {
//                 flex: 1;
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 .btn {
//                     display: inline-block;
//                     padding: .5rem 1.3rem;
//                     border: 2px solid #fff;
//                     border-radius: 2rem;
//                     line-height: 1;
//                     text-transform: uppercase;
//                     .solid,
//                     .transparent {
//                         background-color: transparent;
//                         color: #fff;
//                     }
//                 }
//             }
//         }
//     }
// }
.navbar {
    z-index: 999;
    .item-logo {
        height: 70px;
        line-height: 70px;
        a {
            font-size: 30px;
            font-family: $font-halant;
            font-weight: $semibold;
            span {
                color: $color-pink2;
            }
            img {
                height: 50px;
            }
        }
    }
    .navbar-nav {
        .nav-item {
            margin-right: 20px;
            .active {
                color: #fa8282 !important;
            }
            a {
                font-family: $font-poppins;
                font-weight: $medium;
                font-size: 15px;
                text-transform: uppercase;
                letter-spacing: 0.6px;
            }
            a:hover {
                color: #fa8282 !important;
            }
            .dropdown-menu {
                a {
                    text-transform: capitalize;
                    font-weight: $reguler;
                    font-family: $font-raleway;
                }
            }
        }
    }
    .icon-navbar {
        padding-top: 10px;
        .line {
            svg {
                height: 25px;
                margin-right: 20px !important;
                width: auto;
                color: #696969;
            }
        }
        .search {
            cursor: pointer ;
            svg {
                vertical-align: middle !important;
                margin-right: 20px !important;
                color: #3f3d3d;
                // font-size: 20px !important;
            }
        }
        .bag {
            a {
                text-decoration: none;
                svg {
                    vertical-align: middle !important;
                    color: #fa8282;
                }
                .label-qty {
                    position: relative;
                    top: -32px;
                    left: 13px;
                    font-size: 10px;
                    background-color: #f7c3c3;
                    color: #000000;
                    border-radius: 50%;
                    width: 14px;  
                }
            }
            position: relative;
            display: inline-block;
            .btns-bag {
                // background-color: #4CAF50;
                color: #ee9e9e;
                padding: 0;
                font-size: 15px;
                border: none;
                cursor: pointer;
                box-shadow: none;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                right: 0;
                top: 30px;
                background-color: #f9f9f9;
                min-width: 350px;
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
                z-index: 999;
                a {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                    &:hover {
                        background-color: #ffffff;
                    }
                }
            }
            &:hover {
                .dropdown-content {
                    display: block;
                    .blocks-items {
                        .dropdown-item {
                            .media {
                                display: flex;
                                justify-items: center;
                                img {
                                    margin-right: 15px;
                                    width: 90px;
                                    height: 90px;
                                }
                                .media-body{
                                    .title {
                                        margin-bottom: 0;
                                        h3 {
                                            margin-bottom: 3px;
                                            font-size: 14px;
                                        }
                                    }
                                    .text{
                                        p {
                                            margin-bottom: 2px;
                                        }
                                    }
                                    .sub_total {
                                        svg {
                                            color: #696969;
                                            vertical-align: baseline  !important;
                                            padding-top: 4px;
                                        }
                                        p {
                                            vertical-align: 
                                            middle;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    hr {
                        margin: 0;
                    }
                    .item-link{
                        display: block !important;
                    }
                }
            }
            
        }
    }
}