@use "globals";
// Untuk Title
$font-raleway :'Raleway',
sans-serif;
$font-great:'Great Vibes',
cursive;
$font-poppins: 'Poppins',
sans-serif;
$font-halant: 'Halant',
serif;
// color
$color-pink:#ee9e9e;
$color-pink2:#fa8282;
$color-pink3:#fad8d8;
$bg-section:#fffdfdea;
$bg-section:#f9f9f9;
// Font Weight
$light: 300;
$reguler: 400;
$medium: 500;
$semibold:600;
$bold: 700;
$black: 900;
// p {
//     line-height: 1.5;
// }
.section-paket-wedding-sect-2 {
    background-image: linear-gradient(180deg, $color-pink2, $color-pink, $color-pink3);
    .blocks-items {
        .item-text {
            .text-title {
                padding: 70px 0 30px;
                h3 {
                    font-size: 35px;
                    color: rgb(78, 78, 78);
                    font-weight: $semibold;
                    font-family: $font-halant;
                }
            }
            .text-desc {
                padding-bottom: 60px;
                p {
                    font-size: 17px;
                    font-family: $font-raleway;
                    line-height: 1.5;
                }
            }
        }
    }
}

.section-paket-wedding-sect-3 {
    .blocks-items-card {
        // .card:hover {
        //     transform: scale(1.11);
        //     transition: 0.5s;
        //     // cursor: pointer;
        //     box-shadow: 00 4px 8px 0 rgb(0 0 0 / 20%), 0 5px 10px 0 rgb(0 0 0 / 19%);
        // }
        .card {
            margin: 70px 0 100px;
            box-shadow: 0 4px 3px 0 rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 19%);
            .pict {
                padding: 15px;
                margin-bottom: -10px;
                transition: 0.3s ease-in-out;
                transform: scale(1);
                img {
                    border-radius: 15px;
                    height: 240px;
                    padding: 8px;
                    cursor: pointer;
                    transition: 0.3s ease-in-out;
                    transform: scale(1);
                }
                .img:hover {
                    transform: scale(1.1);
                    // transition: 0.5s ease-in-out;
                    // cursor: pointer;
                }
            }
            .card-body {
                .title-card {
                    h3 {
                        font-family: $font-raleway;
                        font-size: 27px;
                        height: 55px;
                    }
                }
                .link-paket {
                    background-color: $color-pink2;
                    display: inline-block;
                    padding: 15px 23px;
                    margin-bottom: 10px;
                    border-radius: 7px;
                    a {
                        text-decoration: none;
                        font-size: 17px;
                        color: #fff;
                    }
                }
                .link-paket:hover {
                    background-color: #f1b1b1;
                    color: #333;
                }
            }
        }
    }
}