@use "globals";
// Untuk Title
$font-raleway :'Raleway',
sans-serif;
$font-great:'Great Vibes',
cursive;
$font-poppins: 'Poppins',
sans-serif;
$font-halant: 'Halant',
serif;
// color
$color-pink:#ee9e9e;
$color-pink2:#fa8282;
$bg-section:#fffdfdea;
// Font Weight
$light: 300;
$reguler: 400;
$medium: 500;
$semibold:600;
$bold: 700;
$black: 900;
// Section tentang Kami sect 2
.hero-image-banner-paralax {
    height: 60vh;
    background-position: center;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    .blocks-items {
        .text-title {
            padding-top: 50px;
            h3 {
                font-family: $font-halant;
                font-weight: $semibold;
                position: relative;
                z-index: 3;
                font-size: 50px;
                color: #fff;
                text-shadow: 1px 2px rgb(89, 88, 88);
            }
        }
    }
}

// Section tentang kami sect 2
.section-tentangKami-sect-2 {
    .blocks-items {
        padding-top: 100px;
        .logo {
            margin-bottom: 30px;
            img {
                width: 130px;
            }
        }
        .item-text {
            .text-title {
                margin-bottom: 20px;
                h3 {
                    font-weight: $semibold;
                    color: $color-pink2;
                    font-family: $font-halant;
                    font-size: 30px;
                }
            }
            .text-desc {
                width: 950px;
                margin-bottom: 50px;
                // margin: 0 auto;
                p:nth-child(1) {
                    font-family: $font-raleway;
                    line-height: 1.5;
                    font-size: 17px;
                    margin-bottom: 20px;
                }
                p:nth-child(2) {
                    font-family: $font-raleway;
                    line-height: 1.5;
                    font-size: 17px;
                }
            }
        }
    }
}